@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);

  --color-heading: var(--color-gray-900);
  --color-body: var(--color-gray-600);
  --color-fg-brand: var(--color-blue-700);
  --color-fg-disabled: var(--color-gray-400);
  --color-neutral-primary-soft: var(--color-white);
  --color-neutral-secondary-soft: var(--color-gray-50);
  --color-neutral-secondary-medium: var(--color-gray-50);
  --color-neutral-tertiary: var(--color-gray-100);
  --color-default: var(--color-gray-200);
  --radius-base: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

button {
  cursor: pointer;
}
